django
django-q
dj-database-url
requests
requests-cache
tqdm
black
isort
django-elasticsearch-dsl
django-q
jinja2
pdfplumber
python-dotenv
requests-html
python-dateutil
ocrmypdf
django-htmx
django-autoslug
gunicorn
whitenoise
django-debug-toolbar
django-storages
boto3
git+https://github.com/kanedata/charity-django.git