django
inflect
titlecase
django-q
dj-database-url
psycopg2-binary
requests
requests-cache
tqdm
faker
black
isort
django-elasticsearch-dsl
django-q
jinja2
pdfplumber
python-dotenv
requests-html
python-dateutil
ocrmypdf