<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo:400,700|Raleway:400,700">
    <link rel="stylesheet" href="https://dkane.net/theme/css/style.css" />
    <link rel="stylesheet" href="https://dkane.net/theme/css/pygment.css" />
    <style>
      .ws-pre {
        white-space: pre-wrap;
      }
    </style>
    {% block headscripts %}
    {% endblock %}
    <title>{{ (title or default_title)|striptags }}</title>
  </head>
  <body class="sans-serif base-font bg-washed-yellow pa3">
    <div class="ws-pre f5">
        {{content|safe}}
    </div>
    <script>
      Array.from(
        document.getElementsByClassName("highlight")
      ).forEach(
        (el, index) => el.id = `match-${index+1}`
      );
    </script>
  </body>
</html>