{% extends "base.html.j2" %}
{% block content %}
    {% if fyears %}
    <h2 class="">Accounts available stats</h2>
    <div class="overflow-y-scroll">
        <table class="table collapse f5 mb5">
        {% for financial_year in fyears %}
            {% if loop.first %}
            <thead>
            <tr>
                {% for title, value in financial_year.items() %}
                <th class="bb bw1 b--light-gray tl pa2">{{ title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                {% for title, value in financial_year.items() %}
                {% if not value %}
                <td class="tr pa2 bb b--light-gray">-</td>
                {% elif title == "Year" %}
                <th class="tl pa2 bb b--light-gray">{{ value }}</th>
                {% elif title.lower().endswith("%") %}
                <td class="tr pa2 bb b--light-gray">{{ "{:,.1%}".format(value) }}</td>
                {% else %}
                <td class="tr pa2 bb b--light-gray">{{ "{:,.0f}".format(value) }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if recently_fetched %}
    <h2 class="">Recently fetched data</h2>
    <div class="overflow-y-scroll">
        <table class="table collapse f5 mb5">
        {% for financial_year in recently_fetched %}
            {% if loop.first %}
            <thead>
            <tr>
                {% for title, value in financial_year.items() %}
                <th class="bb bw1 b--light-gray tl pa2">{{ title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% endif %}
            <tr>
                {% for title, value in financial_year.items() %}
                {% if not value %}
                <td class="tr pa2 bb b--light-gray">-</td>
                {% elif title == "Date" %}
                <th class="tl pa2 bb b--light-gray">{{ value|naturalday|title }}</th>
                {% elif title.lower().endswith("%") %}
                <td class="tr pa2 bb b--light-gray">{{ "{:,.1%}".format(value) }}</td>
                {% elif value is number %}
                <td class="tr pa2 bb b--light-gray">{{ "{:,.0f}".format(value) }}</td>
                {% else %}
                <td class="tr pa2 bb b--light-gray">{{ value }}</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if clusters or queue_stats %}
    <h2 class="">Queue stats</h2>
    <table class="table collapse f5 mv4">
        <thead>
            <tr>
                <th class="bb bw1 b--light-gray tl pa2"></th>
                <th class="bb bw1 b--light-gray tr pa2">Today</th>
                <th class="bb bw1 b--light-gray tr pa2">Yesterday</th>
                <th class="bb bw1 b--light-gray tr pa2">All time</th>
            </tr>
        </thead>
    <tbody>
        <tr>
            <th class="tr pa2 v-top">Tasks in queue</th>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.in_queue.today) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.in_queue.yesterday) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.in_queue.all_time) }}</td>
        </tr>
        <tr>
            <th class="tr pa2 v-top">Failed tasks</th>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.failed.today) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.failed.yesterday) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.failed.all_time) }}</td>
        </tr>
        <tr>
            <th class="tr pa2 v-top">Successful tasks<br><span class="normal grey f6">(maximum of 250)</span></th>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.success.today) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.success.yesterday) }}</td>
            <td class="tr pa2 v-top">{{ "{:,.0f}".format(queue_stats.success.all_time) }}</td>
        </tr>
    </tbody>
    </table>
    {% if clusters %}
    <div class="overflow-y-scroll">
    <table class="table collapse w-100 f5">
        <thead>
            <tr>
                <th class="bb bw1 b--light-gray tl pa2" title="Id of this cluster. Corresponds with the process id.">cluster_id</th>
                <th class="bb bw1 b--light-gray tl pa2" title="Time Of Birth">tob</th>
                <th class="bb bw1 b--light-gray tl pa2" title="Shows the number of seconds passed since the time of birth">uptime</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The number of times the sentinel had to start a new worker process.">reincarnations</th>
                <th class="bb bw1 b--light-gray tl pa2" title="String representing the current cluster status.">status</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The number of tasks currently in the task queue. [1]">task_q_size</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The number of tasks currently in the result queue. [1]">done_q_size</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The pid of the pusher process">pusher</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The pid of the monitor process">monitor</th>
                <th class="bb bw1 b--light-gray tl pa2" title="The pid of the sentinel process">sentinel</th>
                <th class="bb bw1 b--light-gray tl pa2" title="A list of process ids of the workers currently in the cluster pool.">workers</th>
            </tr>
        </thead>
        <tbody>
    {% for stat in clusters %}
        <tr>
            <td class="tl pa2">{{ stat.cluster_id }}</td>
            <td class="tl pa2">{{ stat.tob }}</td>
            <td class="tl pa2">{{ stat.uptime }}</td>
            <td class="tl pa2">{{ stat.reincarnations }}</td>
            <td class="tl pa2">{{ stat.status }}</td>
            <td class="tl pa2">{{ stat.task_q_size }}</td>
            <td class="tl pa2">{{ stat.done_q_size }}</td>
            <td class="tl pa2">{{ stat.pusher }}</td>
            <td class="tl pa2">{{ stat.monitor }}</td>
            <td class="tl pa2">{{ stat.sentinel }}</td>
            <td class="tl pa2">{{ stat.workers }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}
    {% endif %}
{% endblock content %}